@model DuHoc.Models.News
@{
    ViewData["Title"] = "Home Page";
    var related = (List<DuHoc.Models.News>)ViewBag.related;
}
<div class="beacrum">
    <div class="container">
        <ul class="clearfix bdc_box"><li><a href="/">Trang chủ</a></li> <li class="separator">&rsaquo;</li> <li><a href="/tin-tuc">Tin tức</a> <li class="separator">&rsaquo;</li> </li><li class="current">@Model.Name</li></ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9 content_col">
            <h1 class="single-title"><span>@Model.Name</span></h1>
            <div class="entry_content">
                @Html.Raw(Model.Detail)
            </div>
            <div class="related_box">
                <h3 class="box-title"><span>Bài viết liên quan</span></h3>
                <div class="related_posts media_posts posts row">
                    @if (related.Count() > 0)
                    {
                        foreach (var item in related)
                        {
                            <div class="col-md-4">
                                <div class="wrap_cat">
                                    <div class="thumbs">
                                        <img width="560" height="330" src="@item.Image" class="img-responsive wp-post-image" alt="" loading="lazy" />
                                    </div>
                                    <div class="inner">
                                        <h3 class="title"><a href="/tin-tuc/chi-tiet/@item.Url/@item.Id">@item.Name</a></h3>
                                        <div class="excerpt">
                                            @item.Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>
            <div class="comment">
                <div class="containers">
                    <style>
                        div#respond h2 {
                            font-size: 14px;
                            font-weight: bold;
                        }

                        ol.commentlist li ul {
                            padding-left: 50px;
                        }

                            ol.commentlist li ul li ul {
                                padding-left: 100px;
                            }

                                ol.commentlist li ul li ul li ul {
                                    padding-left: 150px;
                                }

                        form#commentform {
                            position: relative;
                            padding-bottom: 25px;
                        }

                        * {
                            box-sizing: border-box;
                        }

                        h2#comments {
                            font-size: 16px;
                            margin: 0;
                            padding: 10px 0;
                            border-bottom: 1px solid #ccc;
                            margin-bottom: 15px;
                            position: relative;
                        }

                            h2#comments:after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                                border: 2px solid #fed700;
                                z-index: 1;
                                width: 15%;
                            }

                        .comment-meta.commentmetadata a {
                            color: #777;
                            font-size: 12px;
                            font-style: italic;
                        }

                        .reply a {
                            text-decoration: underline;
                            color: #063f6f;
                            font-size: 12px;
                            font-style: italic;
                        }

                        cite.fn a, cite.fn {
                            font-weight: bold;
                            color: #000 !important;
                            font-style: initial;
                            display: inline-block;
                            width: 100%;
                            margin-top: 2px;
                            font-size: 11px;
                            height: 15px;
                            overflow: hidden;
                            text-align: center;
                        }

                        span.says {
                            display: none;
                        }

                        .comment {
                            /* background: #fafafa;*/
                            padding: 5px 0;
                        }

                            .comment textarea {
                                height: 100px;
                            }

                            .comment .form-control {
                                margin-bottom: 10px;
                            }

                            .comment input#submit {
                                display: block;
                                background: #ceb423;
                                border: none;
                                padding: 5px 15px;
                                color: #fff;
                                outline: none;
                                border-radius: 4px;
                            }

                            .comment #url {
                                margin-right: 0 !important;
                            }

                            .comment ol {
                                padding: 0;
                                list-style: none;
                            }

                            .comment #author,
                            .comment #email,
                            .comment #url {
                                width: 40% !important;
                                text-align: left;
                            }

                        .cm_name, .cm_email {
                            display: inline-flex;
                            line-height: 34px;
                            width: 100%;
                        }

                            .cm_name label, .cm_email label {
                                margin-right: 15px;
                                margin-top: 2px;
                                width: 50px;
                            }

                        .comment ::-webkit-input-placeholder {
                            /* Chrome/Opera/Safari */
                            text-align: left;
                            font-style: italic;
                        }

                        .comment ::-moz-placeholder {
                            /* Firefox 19+ */
                            text-align: left;
                            font-style: italic;
                        }

                        .comment:-ms-input-placeholder {
                            /* IE 10+ */
                            text-align: left;
                            font-style: italic;
                        }

                        .comment :-moz-placeholder {
                            /* Firefox 18- */
                            text-align: left;
                            font-style: italic;
                        }

                        .form-control,
                        .form-control:focus {
                            box-shadow: none;
                        }

                        .clearf {
                            clear: both;
                        }


                        /* list comment */
                        .comment h2 {
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        .content-col > .comment {
                            border-top: 3px solid #777;
                        }

                        .comment-author.vcard {
                            width: 10%;
                            float: left;
                        }

                            .comment-author.vcard img {
                                border-radius: 100%;
                            }

                        .reply {
                            float: right;
                        }

                        .comment-author.vcard img {
                            margin-bottom: 5px;
                            display: block;
                            margin: auto;
                        }

                        .commentlist li p {
                            font-size: 14px;
                        }

                        .comment ol li {
                            display: inline-block;
                            width: 100%;
                        }

                        p.save_text input {
                            margin-right: 5px;
                        }

                        div#respond {
                            border-top: 1px solid #ccc;
                            padding: 15px 0;
                        }
                    </style>
                    <!-- If comments are open, but there are no comments. -->

                </div>
            </div>
        </div>
        <div class="col-md-3 sidebar_col">
            <div class="sb_content">
                <h3 class="box-title">Chương trình du học</h3>
                <div class="col-inner">
                    <div class="list_cat">
                        <div class="thumb">
                            <a href="/du-hoc-nhat-ban/2">
                                <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-nhat-ban-vj-2.png" alt="Du học nhật bản" class="img-responsive full-img">
                            </a>
                        </div>
                        <h3 class="sb_cat_title"> <a href="/du-hoc-nhat-ban/2">Du học nhật bản</a></h3>
                    </div>
                    <div class="list_cat">
                        <div class="thumb">
                            <a href="/du-hoc-han-quoc/1002">
                                <img src="https://vjvietnam.com.vn/wp-content/uploads/2021/10/du-hoc-han-quoc-mien-phi-ky-tuc-xa.png" alt="Du học hàn quốc" class="img-responsive full-img">
                            </a>
                        </div>
                        <h3 class="sb_cat_title"> <a href="/du-hoc-han-quoc/1002">Du học hàn quốc</a></h3>
                    </div>
                </div>

                <div class="sb_box newest">
                    <h3 class="box-title">Tin tức</h3>
                    <div class="media_posts posts">
                        @if (related.Count() > 0)
                        {
                            foreach (var item in related)
                            {
            <a class="post media" href="/tin-tuc/chi-tiet/@item.Url/@item.Id">
                <div class="pull-left thumb">
                    <img width="150" height="150" src="@item.Image" class="media-object wp-post-image" alt="@item.Name" loading="lazy" />
                </div>
                <div class="post_desc media-heading">
                    <h4 class="title">@item.Name</h4>
                </div>
            </a>}
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>